<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.ridesharemobileclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".config.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.searchadvance.SearchAdvanceActivity" />
        <activity android:name=".ui.mapdetail.MapDetailActivity" />
        <activity android:name=".ui.mapsearch.MapSearchActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".ui.detailtripregister.DetailTripRegisterActivity" />
        <activity
            android:name=".ui.addtrip.AddTripActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.detailmessage.DetailMessageActivity" />
        <activity android:name=".ui.detailtripsubmit.DetailTripSubmitActivity" />
        <activity android:name=".ui.userregister.UserRegisterActivity" />
        <activity android:name=".ui.usertrip.UserTripActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.routestep.RouteStepActivity" />

        <service
            android:name=".service.NotificationService"
            android:stopWithTask="false" />

        <!-- <receiver android:name=".broadcast.NotificationBroadcast" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="notification" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".ui.triprate.TripRateActivity" />
        <activity android:name=".ui.detailrate.DetailRateActivity"></activity>
    </application>

</manifest>